*.sh
*.md
*.woff
*.ttf
.vscode
.idea
/public
/docs
.husky
.local
/bin
Dockerfile
package.json
.now/*
.next/*
*.css
.changeset
dist
esm/*
tests/*
scripts/*
*.config.js
*.config.ts
.DS_Store
node_modules
coverage
.next
build
!.storybook
/**/.storybook/**
!.commitlintrc.cjs
!plopfile.js
!react-shim.js
!tsup.config.ts